@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,400;1,9..40,500&family=DM+Serif+Display&family=Manrope:wght@400;500;700;800&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,800;1,6..12,600;1,6..12,800;1,6..12,900&family=Nunito:ital,wght@0,300;0,400;0,500;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

/* body styling */

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'PT Serif';
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 18px;
    max-width: 35rem;
    
}

/* nav styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  whitesmoke;;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: black;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 20%; 
    color: black; 
    border: 1px solid #000; 
}

nav a:hover {
    background: transparent;
}

 nav li:nth-child(1) a:hover {
   color: #DA0000;
   font-size: 1.1em;
 }
 
 nav li:nth-child(2) a:hover {
     color: #FFD700;
     font-size: 1.2em;
 }
 
nav li:nth-child(3) a:hover {
    color: #0000FE;
    font-size: 1.2em;
 }
 

nav ul {
    padding: 0;
    margin: 0;
    text-align: right;  
}

nav li {
    display: inline-block;
    margin-left: 10px; 
}

nav #logo {
    float: left; 
}

/* footer styling */  

nav a, footer a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 30%;
    color: black;
    margin: 8px; 
    backdrop-filter: blur(30px);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: left;

}




/* text variables for all content */
:root{
    --h1: 40px;
    --h1-line-height:1.3;
    --h2: 16px;
    --h2-line-height: 20px;
    --p: 18px;
    --p-line-helight: 24px;
    --h3: 20px;
    --h3-line-height:30px;
    --h4: 16px;
    --h4-line-height: 1.5;
    --h5: 20px;
    --h5-line-height: normal;
    --h6:14px;
    --h6-line-height: 1.5;
    --nav: 20px;
    --nav-line-height:20px;
    --blockquote: 16px; 
    --h7:60px;
    --h7-line-height:1.3;

}


/* blockquotes variables */

body {
  color: #cccccce6;
  font-family: 'PT Sans';
  font-weight: 700;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
  padding-bottom: 4px;
  padding-top: 40px;
}

blockquote {
  background: transparent;
  color: #000;
  font-size: --var(--blockquote);
  padding: 20px 20px 20px 20px;
  max-width: 600px;
  display: flex;
}

blockquote p {
    font-weight: bold;
}
  
.red-border {
    border: solid 3px #DA0000;
    padding: 20px 15px 20px 15px;
    box-shadow: 13px 13px 0 0 red,
                15px 15px 0 0 red,
                11px 15px 0 0 red,
                15px 11px 0 0 red;
  }

.red-symbol {
    display: none;
}

.yellow-border {
    border: solid 3px #FFD700;
    padding: 20px 15px 20px 15px;
    box-shadow: 13px 13px 0 0 #FFD700,
                15px 15px 0 0 #FFD700,
                11px 15px 0 0 #FFD700,
                15px 11px 0 0 #FFD700;
  }


.blue-symbol {
    display: none;
}

.blue-border {
    border: solid 3px #0000FE;
    padding: 20px 15px 20px 15px;
    box-shadow: 13px 13px 0 0 #0000FE,
                15px 15px 0 0 #0000FE,
                11px 15px 0 0 #0000FE,
                15px 11px 0 0 #0000FE;
  }

.yellow-symbol {
    display: none;
}

.numbered-heading {
    display: flex;
    align-items: center;
}

.numbered-heading b {
    margin-right: 10px; 
}

.title-position{
    margin-right: 495px;
    margin-left: 40px;
}



/* b variables */
.title {
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

.title-s {
    background-image: linear-gradient(to right, #da0000, #ffd700);
}

.title-m {
    background-image: linear-gradient(to left, #0000FE, #ffd700);
}

.reading-title-01{
    color: #DA0000;
    font-weight: 800;
    font-size: 50px;
    margin-right: 20px;
  }

.reading-title-02{
    color: #FFD700;
    font-weight: 800;
    font-size: 50px;
    margin-right: 20px;
  }

.reading-title-03{
    color: #0000FE;
    font-weight: 800;
    font-size: 50px;
    margin-right: 20px;
  }

.title-styling{
    font-size: 60px;
    margin-top: 60px;
    margin-bottom:30px;
    font-family: "PT Serif";
    font-weight: 700;
    margin-left: 15px;

}


/* styling */

h1{
    font-family: 'PT Serif';
    font-weight: 700;
    line-height: var(--h1-line-height);
    font-size: var(--h1);
    margin-top: 80px;
}

h2 {
    font-family: 'PT Serif';
    font-weight: 600;
    align-items: left; 
    font-size: var(--h2);
    line-height: var(--h2-line-height);
    margin-bottom: 30px;
    margin-top: 30px;
    color: #333333;
}


h3{
    font-family:'PT Serif';
    font-weight: 800;
    line-height: var(--h3-line-height);
    font-size: var(--h3);
    margin-top: 10px;

}

h4{
    font-family: 'PT Serif';
    font-weight: 400;
    line-height: var(--h4-line-height);
    font-size: var(--h4);
    margin-left: 10px;
    margin-top: 10px;
    color: #333333;
 
}

h5{
    font-family: 'PT Serif';
    font-weight: 700;
    line-height: var(--h5-line-height);
    font-size: var(--h5);
    color: #000;
    font-style: italic;
}

.line-position{
    margin-left: 10%;
}


h6{
    font-family: 'PT Serif';
    font-weight: 400;
    line-height: var(--h6-line-height);
    font-size: var(--h6);
    align-self: flex-start;
    margin-bottom: 60px;
    margin-top: 30px;
    color: #333333;

}

article {
    margin-top: 50px; 
}


p {
    font-family: 'DM Sans';
    margin-top: 5px; 
    font-size: var(--p);
    line-height: var(--p-line-height);
    font-weight: 300;
    margin-bottom: 16px;
    color: black;

}

.section-style{
    font-size: 14px;
}

a.next { 
    float: right; 
    position:relative;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.left-text,.right-text {
    margin: 0;
    padding: 0;
}

.left-text {
    padding-left: 10px; 
}

.right-text {
    padding-right: 10px;
}

.right-position{
    margin-left: 700px;
    margin-right:40px;
}

.left-position{
    margin-left: 50px;
    margin-right: 850px;
}

a{
    text-decoration: none;
    color: #333333;
    transition: color 0.3s ease-in-out;
    margin-left: 10px;
}


.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.left-content {
    text-align: left;
}

a.hover-color-1:hover {
    font-size: 14px; 
}

.align-text{
    margin-left: 10px;
    margin-right: 10px;     
}

em{
    color:#333333;
}

/* symbol color */
.red {
    color: #DA0000;
}

.yellow{
    color: #FFD700;
}

.blue{
    color: #0000FE;
}





























    
/* desktop media query */
@media (min-width: 768px){

    body{
        max-width: 100%;
        margin:30px;
        size: 0.9em;
    
    }

    :root {
        --h1: 60px;
        --h1-line-height: 110%;
        --h2: 14px;
        --h2-line-height: normal;
        --p: 22px;
        --p-line-helight: 1.2;
        --h3: 30px;
        --h3-line-height: 35px;
        --h4: 20px;
        --h4-line-height: normal;
        --h5: 30px;
        --h5-line-height: 40px;
        --h6: 16px;
        --h6-line-height:25px;
        --nav: 20px;
        --nav-line-height:20px;
        --blockquote:22px;
    }

   
    /* Homepage Hover effect */
    a.hover-color-1:hover,
    a.hover-color-2:hover,
    a.hover-color-3:hover {
    transform: scale(1.3);
    font-size: 30px;
    transition: font-size 0.3s, color 0.3s;
    margin-bottom: 20px;
    }
   
    /* Hover color for the first link */
    a.hover-color-1:hover {
    color: #DA0000; 
    }
  
    /* Hover color for the second link */
    a.hover-color-2:hover {
    color: #FFD700;
    }
  
     /* Hover color for the third link */
    a.hover-color-3:hover {
        color: #0000FE;
    }

    /* Context right styling */
    .content-container {
        display: flex;
        flex-direction: wrap;
        gap: 25px;  
    }

    .content-box {
        flex: 1 1 calc(50% - 20px);
        padding: 10px;
        margin-bottom:20px;
        
    }
    
    


    /* Header styling */
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-items: left;
        padding: 20px;
        position: fixed;
        width: 50%;
        height: 90vh;
        overflow: auto;
        flex-direction: column;
    }

    main {
        margin-left: 50%;
        margin-top: 100px;
        margin-right: 110px;

    }

    .align-text{
        margin-top: 10px;
        padding-top: 30px;
        text-align: left;
        margin-right: 55%;
        margin-left:100px
    }


    .p-align{
        color: black;
        margin-right: 5%;
        margin-left: 5%;
    }

    p.p-align {
        margin-top: 10px; 
    }

    blockquote {
        margin: 30px 30px;
      }

    .stacked {
        border: solid 3px red;
        padding: 20px 30px 20px 30px;
        box-shadow: 13px 13px 0 0 red,
                    15px 15px 0 0 red,
                    11px 15px 0 0 red,
                    15px 11px 0 0 red;
      }


    .title-styling{
        font-size: 190px;
        margin-left: 100px;
        margin-top:60px;
        font-family: "PT Serif";
        font-weight: 700;
        line-height: 170px;
        letter-spacing: 1.0rem;
    }

    h3{
        margin-top: 40px;
    }

    h4{
        margin-top: 10px;
    }

    h5{
        margin-top: 100px;
        margin-left: 5%;
    }

    h6{
        margin-bottom: 10px;
    }

    .red-symbol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #DA0000;
      }

    .yellow-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD700;
    }

    .blue-symbol {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0000FE;
      }

}


